<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Fragment</title>
</head>
<body>
    <!-- Footer Fragmento reutilizable -->
    <footer th:fragment="footer">
        <div class="footer-content">
            <div class="footer-left">
                <p>IRIMANnovel.com</p>
                <p>Lee libros y novelas gratis en línea</p>
            </div>
            <div class="footer-left">
                <p>Contacto - Mapa del sitio</p>
                <p>Política de privacidad y condiciones de uso</p>
            </div>
        </div>
    </footer>
</body>
</html> 